<span class="label label-warning">
	Match ID: <%= match_id %>
</span>
	&nbsp;

	<% if (radiant_win === false) { %>
		<span id="matchVictory" class="label label-danger"> Dire Victory </span>
	<% } else { %>
		<span id="matchVictory" class="label label-info"> Radiant Victory </span>
	<% } %>

	&nbsp;
<span class="label label-primary">
	<%= matchDuration %>
</span>
<table class="table">
	 <thead>
	  <tr>
        <th>Player</th>
        <th>Level</th>
		<th>Hero</th>
        <th>K/D/A</th>
		<th>Items</th>
        <th>Gold</th>
		<th>Last Hits</th>
        <th>Denies</th>
		<th>Gold/Min</th>
		<th>XP/Min</th>
      </tr>
	</thead>
	<tbody class="matchResults">
	<% _.each(players, function(player){  %>
			<tr>
			<% if (player.player_slot === 0 || player.player_slot === 128) { %>
			  <td colspan='10'>
				<% if (player.player_slot === 0) {
					print('DIRE');
				} else if (player.player_slot === 128) {
					print('RADIANT');
				} %>
			  </td> 
			<% } %>
		    </tr>
			<tr>
				<% if( playersData[player.account_id] != null) { %>
					<td><%= playersData[player.account_id].personaname %></td>
				<% } else { %>
					<td> Private </td> 
				<% } //TODO: also add BOT check%>
				<td><%= player.level %></td>
				<td><img src="<%= player.heroImg %>"></img></td>
				<td><%= player.kills %>/<%= player.deaths %>/<%= player.assists %></td>
				<td>
					<img src="<%= player.itemImgs[0] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[1] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[2] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[3] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[4] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[5] %>" class="matchDetailsItemImg"></img>
				</td>
				<td><%= player.gold %></td>
				<td><%= player.last_hits %></td>
				<td><%= player.denies %></td>
				<td><%= player.gold_per_min %></td>
				<td><%= player.xp_per_min %></td>
			</tr>
	<% });%>
    </tbody>
</table>