<span class="label label-info">
	<% if (radiant_win == false) {
		print('Radiant Victory');
	} else {
		print('Dire Victory');
	} %>
</span>
<table class="table">
	 <thead>
	  <tr>
        <th>Player</th>
        <th>Level</th>
		<th>Hero</th>
        <th>K/D/A</th>
		<th>Items</th>
        <th>Gold</th>
		<th>Last Hits</th>
        <th>Denies</th>
		<th>Gold/Min</th>
		<th>XP/Min</th>
      </tr>
	</thead>
	<tbody class="matchResults">
	<% _.each(players, function(player){  %>
			<tr>
			<% if (player.player_slot === 0 || player.player_slot === 128) { %>
			  <td colspan='10'>
				<% if (player.player_slot === 0) {
					print('DIRE');
				} else if (player.player_slot === 128) {
					print('RADIANT');
				} %>
			  </td> 
			<% } %>
		    </tr>
			<tr>
				<td><%= player.account_id %></td>
				<td><%= player.level %></td>
				<td><img src="<%= player.heroImg %>"></img></td>
				<td><%= player.kills %>/<%= player.deaths %>/<%= player.assists %></td>
				<td>
					<img src="<%= player.itemImgs[0] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[1] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[2] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[3] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[4] %>" class="matchDetailsItemImg"></img>
					<img src="<%= player.itemImgs[5] %>" class="matchDetailsItemImg"></img>
				</td>
				<td><%= player.gold %></td>
				<td><%= player.last_hits %></td>
				<td><%= player.denies %></td>
				<td><%= player.gold_per_min %></td>
				<td><%= player.xp_per_min %></td>
			</tr>
	<% });%>
    </tbody>
</table>