.matchDetailsItemImg {
	height: 32px;
	width: 62px;
	padding-right: -24px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.item {
	margin: 2px 0px 2px 4px;
}

.item:hover {
  background: #8CF;
  opacity: 0.8;
  cursor: pointer;
}